<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tran Vinh Liem</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="./">Tran Vinh Liem</a></h1>
      <h2><span>Riottecboi</span></h2>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="../static/img/logo.png" alt="" class="img-fluid"></a> -->
<!--      <h2>I'm a passionate <span>graphic designer</span> from New York</h2>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
<!--          <li><a class="nav-link" href="#contact">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
<!--        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
        <a href="https://github.com/riottecboi" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/liem-tran-vinh-130796tvl/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100008518240964" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/tranvinhliem/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.fiverr.com/riottecboi" class="fiverr"><i class="bi bi-globe"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
<!--        <p>Learn more about me</p>-->
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>DevOps &amp; Python Developer</h3>
          <p class="fst-italic">
            Driven by a passion for innovation and continuous learning, I thrive in dynamic environments where I can apply my expertise to solve complex
            challenges and contribute to the success of impactful projects.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>13 July 1996</span></li>
<!--                <li><i class="bi bi-chevron-right"></i> <strong>Gender:</strong> <span>Male</span></li>-->
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+84 935044840</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ho Chi Minh, Vietnam</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
<!--                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>-->
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Engineering  Telecommunication</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rintran1307@gmail.com
                  riottecboi@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            I'm Liem, a full-stack developer, specializing in engineering robust and
            scalable web solutions. My expertise thrives in Python, particularly in backend
            development, where I leverage frameworks like Flask and FastAPI to architect efficient
            APIs and web services.

            I adeptly optimize performance solutions that scale and are
            cost-efficient, rooted in serverless design principles, ensures optimal resource
            utilization and cost savings across projects, from small-scale to enterprise-level.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
<!--    <div class="counts container">-->

<!--      <div class="row">-->

<!--        <div class="col-lg-3 col-md-6">-->
<!--          <div class="count-box">-->
<!--            <i class="bi bi-emoji-smile"></i>-->
<!--            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>-->
<!--            <p>Happy Clients</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">-->
<!--          <div class="count-box">-->
<!--            <i class="bi bi-journal-richtext"></i>-->
<!--            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>-->
<!--            <p>Projects</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">-->
<!--          <div class="count-box">-->
<!--            <i class="bi bi-headset"></i>-->
<!--            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>-->
<!--            <p>Hours Of Support</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">-->
<!--          <div class="count-box">-->
<!--            <i class="bi bi-award"></i>-->
<!--            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>-->
<!--            <p>Awards</p>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
    <!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">
        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Flask/FastAPI <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">AWS services <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CI/CD(Github Action/CodeCommit - Codebuild - CodeDeploy) <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Docker <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Database(MySQL/SQL/DynamoDB) <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Linux <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
<!--    <div class="interests container">-->

<!--      <div class="section-title">-->
<!--        <h2>Interests</h2>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-store-line" style="color: #ffbb2c;"></i>-->
<!--            <h3>Lorem Ipsum</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>-->
<!--            <h3>Dolor Sitema</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>-->
<!--            <h3>Sed perspiciatis</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>-->
<!--            <h3>Magni Dolores</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-database-2-line" style="color: #47aeff;"></i>-->
<!--            <h3>Nemo Enim</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>-->
<!--            <h3>Eiusmod Tempor</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>-->
<!--            <h3>Midela Teren</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>-->
<!--            <h3>Pira Neve</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-anchor-line" style="color: #b2904f;"></i>-->
<!--            <h3>Dirada Pack</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-disc-line" style="color: #b20969;"></i>-->
<!--            <h3>Moton Ideal</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-base-station-line" style="color: #ff5828;"></i>-->
<!--            <h3>Verdo Park</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 mt-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>-->
<!--            <h3>Flavor Nivelanda</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
    <!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                great, so helpful and to the point. will use on future projects.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
<!--              <img src="../static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
              <h3>velvetsk</h3>
              <h4>United Kingdom</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Exceptional delivery. Documentation is clear so there was little to no need for troubleshooting. Codes are written clearly, well formatted with detailed comments to explain the process. The whole shebang came with demo videos showcasing the code. I don't even know what more do I want from this guy.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
<!--              <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
              <h3>canconical</h3>
              <h4>Australia</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Perfect Job !!!!!!!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
<!--              <img src="../static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
              <h3>skysky12</h3>
              <h4>Canada</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                quick response time and very friendly. did work very fast and accurately.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
<!--              <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
              <h3>rajapaksha465</h3>
              <h4>Sri Lanka</h4>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">
      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
<!--        <p>Check My Resume</p>-->
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Tran Vinh Liem</h4>
            <p><em>Innovative and deadline-driven Python Developer with 4+ years of experience designing and developing backend system from initial concept to final.
            Furthermore, I specialize in crafting cutting-edge serverless architectures, ensures optimal resource utilization and cost savings across projects, from small-scale to enterprise-level initiatives.

            </em></p>
            <p>
            <ul>
              <li>Hoang Dieu D4, Hochiminh, VN</li>
              <li>(84) 935-044-840</li>
              <li>rintran1307@gmail.com - riottecboi@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Engineering - Telecommunication</h4>
            <h5>2014 - 2019</h5>
            <p><em>Ho Chi Minh University of Technology, Hochiminh, VN</em></p>
            <p>Looking back, I am deeply grateful for the education and experiences I received at HCMUT. The university has instilled in me a lifelong love for learning, a drive for excellence, and the confidence to tackle complex challenges head-on.
              I am proud to be a part of the HCMUT community, and I carry the values and principles I learned there with me as I embark on my professional journey.</p>
          </div>

          <h3 class="resume-title">Certification</h3>
          <div class="resume-item">
            <h4>AWS Certified Developer - Associate</h4>
            <h5>Aug 2023</h5>
            <p><em>Issued by AWS Certified</em></p>
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8692a715-3627-4626-861d-9370651222cf" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>Cyber Dashboard</h4>
            <h5>2023 – present</h5>
            <p><em>The Cyber Dashboard project represents a culmination of our efforts in API development, data visualization, and scalable infrastructure management.</em></p>
            <p>
            <ul>
              <li>Cyber scrapers operate as scheduled tasks orchestrated by ECS. This
                  automated process ensures that data remains up-to-date without manual
                  intervention, empowering our team with the latest insights.
              </li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Crawling/Scarping data system</h4>
            <h5>2021 – 2024</h5>
            <p><em>Web scraping system utilizing Selenium with Python to extract
                  valuable data from dynamic web pages.</em></p>
            <p>
            <ul>
              <li>Utilized Flask to create a web framework for managing the web
              scraping application and Python for scripting and data processing.</li>
              <li>By integrating Selenium with AWS services, I developed a robust
              web scraping solution that effectively captured and processed data
              from diverse sources.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Cyber API Search System</h4>
            <h5>2020 – 2022</h5>
            <p><em>The powerhouses of AWS Lambda and API Gateway to streamline data
            retrieval from diverse sources, ensuring seamless scalability as our
            performance crescendos.</em></p>
            <p>
            <ul>
              <li>In this visionary scenario, a powerful search engine is orchestrated
              by AWS Lambda and API Gateway, seamlessly harnessing the APIs of
              industry giants like Bing, Google, and Yandex. This serverless
              navigates the internet's vast landscape, retrieving information with
              precision and efficiency.</li>
              <li>The journey culminates in the seamless deployment of code
              through a combination of GitHub Actions and AWS CodeDeploy. GitHub
              Actions trigger automated workflows upon events in the GitHub
              repository, while CodeDeploy facilitates the deployment of code
              changes across AWS services.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Billing System</h4>
            <h5>2019 – 2021</h5>
            <p><em>A dynamic scaling and effective management of large
            workloads for ticket support system, ensuring the system can adapt to fluctuating demands while
            maintaining stability and reliability.</em></p>
            <p>
            <ul>
              <li>I have orchestrated system interfaces using Flask for backend
              operations, combined with Jinja2 for frontend development,
              seamlessly integrating HTML, CSS, and JavaScript for a cohesive
              user experience.</li>
              <li>For seamless scalability and handling high-volume requests from end
              clients, I set up, built, and packaged code into Docker containers,
              orchestrated by Kubernetes (K8s) using the EKS service.</li>
              <li>Data management is robust and reliable with MySQL databases (RDS)
              and Storage Objects via S3, ensuring secure storage of information.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-aws"></i></div>
            <h4><a href="javascript:void(0)">AWS Services</a></h4>
            <p>I provide end-to-end services to design, deploy, and optimize highly scalable and secure cloud architectures tailored to your business needs, leveraging the comprehensive suite of AWS services.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-python"></i></div>
            <h4><a href="javascript:void(0)">Python</a></h4>
            <p>As an experienced Python developer, I provide comprehensive services to build robust, scalable, and maintainable Python applications, leveraging the language's rich ecosystem and powerful libraries to meet your specific business requirements.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-docker"></i></div>
            <h4><a href="javascript:void(0)">Dockerize</a></h4>
            <p>I offer specialized services to design, build, and deploy containerized applications using Docker, enabling efficient packaging, portability, and scalability for your software solutions.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-flask"></i></div>
            <h4><a href="javascript:void(0)">APIs Development</a></h4>
            <p>I offer expert services in building RESTful APIs using popular Python frameworks like Flask and FastAPI, along with integrating Swagger/OpenAPI for interactive documentation, ensuring efficient development and easy consumption of your APIs.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-chrome"></i></div>
            <h4><a href="javascript:void(0)">Web Crawling/Scraping</a></h4>
            <p>I offer comprehensive services for developing web scraping and crawling solutions using Selenium and Python, enabling efficient extraction and automation of data from websites for various use cases such as data mining, market research, price monitoring, and competitive analysis.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-rocket"></i></div>
            <h4><a href="javascript:void(0)">CI/CD</a></h4>
            <p>I provide specialized services for setting up and implementing continuous integration and continuous deployment (CI/CD) pipelines using tools like GitHub Actions and AWS CodeBuild, enabling automated build, testing, and deployment processes for your applications, ensuring faster release cycles and consistent delivery.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-docker">Dockerize</li>
            <li data-filter=".filter-aws">AWS</li>
            <li data-filter=".filter-web">Web Development/APIs</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web Scraping/Crawling</h4>
              <p>March 2024</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-1-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web Scraping/Crawling</h4>
              <p>Nov 2023</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-2-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-aws">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web Development</h4>
              <p>Mar 2024</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-4-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-docker">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Docker - Web Crawling</h4>
              <p>Apr 2024</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-3-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-aws">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>AWS - Nginx - Web Development</h4>
              <p>Dec 2023</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-5-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-aws">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>AWS - Nginx - Web Development</h4>
              <p>Sept 2022</p>
              <div class="portfolio-links">
<!--                <a href="../static/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="AWS - Nginx - Web Development"><i class="bx bx-plus"></i></a>-->
                <a href="portfolio-6-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
<!--  <section id="contact" class="contact">-->
<!--    <div class="container">-->

<!--      <div class="section-title">-->
<!--        <h2>Contact</h2>-->
<!--        <p>Contact Me</p>-->
<!--      </div>-->

<!--      <div class="row mt-2">-->

<!--        <div class="col-md-6 d-flex align-items-stretch">-->
<!--          <div class="info-box">-->
<!--            <i class="bx bx-map"></i>-->
<!--            <h3>My Address</h3>-->
<!--            <p>A108 Adam Street, New York, NY 535022</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">-->
<!--          <div class="info-box">-->
<!--            <i class="bx bx-share-alt"></i>-->
<!--            <h3>Social Profiles</h3>-->
<!--            <div class="social-links">-->
<!--              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
<!--              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
<!--              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
<!--              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>-->
<!--              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 mt-4 d-flex align-items-stretch">-->
<!--          <div class="info-box">-->
<!--            <i class="bx bx-envelope"></i>-->
<!--            <h3>Email Me</h3>-->
<!--            <p>contact@example.com</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 mt-4 d-flex align-items-stretch">-->
<!--          <div class="info-box">-->
<!--            <i class="bx bx-phone-call"></i>-->
<!--            <h3>Call Me</h3>-->
<!--            <p>+1 5589 55488 55</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <form action="../forms/contact.php" method="post" role="form" class="php-email-form mt-4">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 form-group">-->
<!--            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>-->
<!--          </div>-->
<!--          <div class="col-md-6 form-group mt-3 mt-md-0">-->
<!--            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group mt-3">-->
<!--          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>-->
<!--        </div>-->
<!--        <div class="form-group mt-3">-->
<!--          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>-->
<!--        </div>-->
<!--        <div class="my-3">-->
<!--          <div class="loading">Loading</div>-->
<!--          <div class="error-message"></div>-->
<!--          <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--        </div>-->
<!--        <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--      </form>-->

<!--    </div>-->
<!--  </section>-->
  <!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Licensed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>